@import "tailwindcss";


@theme {
  --color-bg: #0A0A0A;
  --color-card: #141614;
  --color-accent: #7ED957;
  --color-muted: #A0A0A0;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}